<form action="/song" method="post">
  <label for="songName">Song Name</label>
  <input id="songName" name="songName" type="text">
  <label for="songArtist">Optional: Song Artist</label>
  <input id="songArtist" name="songArtist" type="text">
  <button type="submit">Add Song</button>
</form>